<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  </head>
  <body>
    <div class="container">

      <h2 class="center-align">Todo List</h2>

      <form class="container right-align" action="/" method="post">
        <input type="text" name="todo" value="" placeholder="Add a todo...">
        <input type="text" name="assignee" value="" placeholder="For person...">
        <input class="btn" type="submit" name="" value="Add todo!">
      </form>

      <h5 class="left-align red-text text-darken-3">Current Todos:</h5>
        {{#todos}}
          {{^completed_at}}
            <form class="" action="/complete" method="post">
              <input type="hidden" name="id" value="{{id}}">
              <div class="section">
                <input class="btn" type="submit" name="" value="Mark Complete">
                <ul class="browser-default">
                  <li><h5>{{item}} - {{assignedto}}</h5></li>
                </ul>
              </div>
            </form>
          {{/completed_at}}
        {{/todos}}

      <h5 class="left-align green-text text-darken-3">Completed Todos:</h5>
      <ul class="left-align browser-default">
      {{#todos}}
        {{#completed_at}}
          <li><h5>{{item}}</h5></li>
        {{/completed_at}}
      {{/todos}}
      </ul>

  </body>
</html>
